*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cl3);
    border-radius: 10px;
}

:root{
    --cl1:rgb(32, 32, 32);
    --cl2:rgb(43, 43, 43);
    --cl3:rgb(255, 241, 45);
}

.ErrMs {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 0;
    display: none;
    opacity: 0;
    transition: 0.2s ease;
}

.ErrMs h1{
    color: red;
    background-color: var(--cl2);
    border: 2px solid red;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    font-size: 1.2em;
}


header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
    background-color: rgb(32, 32, 32);
    color: white;
    z-index: 2;
    border-radius: 0px 0px 30px 30px;
}

.picProfle{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    cursor: pointer;
}

.navi{
    display: flex;
    gap: 1em;
}

header h2{
    cursor: pointer;
}

.opnMn{
    display: flex;
    width: 5vh;
    align-items: center;
    justify-content: center;
    color: var(--cl3);
    display: none;
}


body{
    display: flex;
    background-color: rgb(14, 14, 14);
}


.rightMn{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 110vh;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 1;
    gap: 1em;
}

.frMn{
    width: 95%;
    height: 65%;
    background-color: var(--cl2);
    border-radius: 30px;
}


.stMn{
    width: 95%;
    height: 10%;
    background-color: var(--cl2);
    border-radius: 30px;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.stMn span{
    font-size: 2em;
    color: var(--cl3);
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stMn span img{
    height: 1.5em;
    width: 1.5em;
}

.stMn span:hover{
    background-color: rgb(56, 56, 56);
}
.stMn span:active{
    background-color: rgb(51, 51, 51);
}

.bgChat{
    display: flex;
    height: 100vh;
    width: 65vw;
    justify-content: center;
    align-items: center;
}

.chat{
    background-color: var(--cl2);
    width: 95%;
    height: 75%;
    border-radius: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    outline: 3px dashed var(--cl2);
}
 
.msUser{
    background-color: var(--cl3);
    padding: 10px;
    font-size: 1.3em;
    width: max-content;
    max-width: 67%;
    word-wrap: break-word;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.user{
    border: 2px solid var(--cl3);
    margin-left: auto;
    padding: 10px;
    font-size: 1.3em;
    width: max-content;
    max-width: 67%;
    word-wrap: break-word;
    border-radius: 20px;
    border-top-right-radius: 0px;
    color: white;
}

.plcSend{
    display: flex;
    height: 4vw;
    width: 65vw;
    left: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1em;
    gap: 10px;
}

.inptSend{
    font-size: 2em;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
    width: 87%;
    max-height: max-content;
    background-color: var(--cl2);
    color: var(--cl3);
    resize: none;
}

.plcSend button{
    font-size: 2em;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.705);
    background-color: rgb(255, 217, 0);
    width: 7%;
    opacity: 0.3;
    transition: 0.2s;
}

@media (max-width: 1080px) {
    header{
        padding: 10px;
        font-size: 0.8em;
    }
    
    .opnMn{
        font-size: 2em;
        display: flex;
    }
    
    .rightMn{
        background-color: var(--cl1);
        width: 0%;
        height: 100vh;
        overflow: hidden;
        transition: 0.1s ease;
    }

    .rightMnOpen{
        width: 100%;
    }
    
    .frMn{
        width: 95%;
        height: 80%;
    }


    .bgChat{
        height: 100vh;
        width: 100vw;
    }

    .chat{
        width: 100%;
        border-radius: 0px;
        position: fixed;
        padding: 100px 20px 100px 20px;
        bottom: 0px;
        height: 100%;
        outline: none;
    }

    .plcSend{
        font-size: 0.7em;
        height: 10vh;
        width: 100%;
    }

    .inptSend{
        background-color: var(--cl1);
        width: 70%;
    }

    .plcSend button{
        width: 20%;
    }
}


